src/main/resources/paths.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Pfade"
	xmlns:tns="http://www.example.org/Pfade" elementFormDefault="qualified"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

	<element name="paths">
		<annotation>
			<documentation>
				Lists all available paths. Each can either be a simple
				path ("path") or a
				chain of simple paths ("multipath").
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<choice maxOccurs="unbounded">
					<element name="path" type="tns:simplePath" />
					<element name="multipath" type="tns:multiPath" />
				</choice>
			</sequence>
		</complexType>
	</element>

	<complexType name="path">
		<annotation>
			<documentation>Base type for paths</documentation>
		</annotation>
		<sequence>
			<element name="name" type="string"></element>
			<element name="parameters" minOccurs="0">
				<complexType>
					<sequence>
						<element name="parameter" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<simpleContent>
									<extension base="string">
										<attribute name="name" type="token"></attribute>
									</extension>
								</simpleContent>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="simplePath">
		<annotation>
			<documentation>Type definition for simple paths, i.e. those that are
				directly implemented
				by a Java class
			</documentation>
		</annotation>
		<complexContent>
			<extension base="tns:path">
				<sequence>
					<choice>
						<element name="implementation" type="string"></element>
						<element name="switch" type="tns:switch"></element>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="multiPath">
		<annotation>
			<documentation>Multipaths, i.e. chains of simple paths
			</documentation>
		</annotation>
		<complexContent>
			<extension base="tns:path">
				<sequence>
					<element name="path" type="tns:simplePath" maxOccurs="unbounded"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="switch">
		<sequence>
			<element name="case" maxOccurs="unbounded" type="tns:guardedCaseType">
			</element>
			<element name="default" minOccurs="0" maxOccurs="1"
				type="tns:defaultCaseType" />
		</sequence>
		<attribute name="evaluator" type="string" use="required"></attribute>
	</complexType>

	<complexType name="defaultCaseType">
		<choice>
			<element name="path" type="tns:simplePath" />
			<element name="multipath" type="tns:multiPath" />
		</choice>
	</complexType>

	<complexType name="guardedCaseType">
		<complexContent>
			<extension base="tns:defaultCaseType">
				<attribute name="value" type="string" use="required" />
			</extension>
		</complexContent>
	</complexType>

</schema>