src/main/resources/paths.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Pfade"
	xmlns:tns="http://www.example.org/Pfade" elementFormDefault="qualified">

	<element name="paths">
		<complexType>
			<sequence>
				<element name="path" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="name" type="string"></element>
							<element name="implementation" type="string"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>